<h3>Create User</h3>
<%= form_with model: @users do |f| %>
<%= f.text_field :name , placeholder:"Enter your name"%>
<br>
<%= f.text_field :email , placeholder:"Enter your email"%>
<br>
<%= f.text_field :mobile , placeholder:"Enter your mobile"%>
<br>
<%= f.text_field :address , placeholder:"Enter your address"%>
<br>
<%= f.submit %>
<% end %>
